body {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  background-color: rgb(233, 243, 250);
}
p{
  color: #5d5d5d;
  font-size: 15px;
  margin-top: 0;
}


h2 {
  color: #1a6665;
  font-size: 36px;
  text-align: center;
}


h4{
  
  font-size: 30px;
  text-align: center;
  font-weight: 200;

}


/* header */

.header {
  width: 100%;
  height: 650px;
  background-image: url(/img/houseboat.jpg);
  background-size: 100% 650px;
  background-repeat: no-repeat;
  color:  #1a6665;
  opacity: 0.9;
}
.material-symbols-outlined {
  font-size: 50px;
}
.logo {
  margin: 0;
  font-weight: 900;
  font-size: 25px;
  color:  #1a6665;
;
  position: relative;
  top: 20px;
  left: 20px;
}
.nav {
  display: flex;
  list-style-type: none;
  opacity: 1;
  margin: 0 0 0 auto;
  width: fit-content;
  position: relative;
  bottom: 20px;
}
.nav li {
  padding: 10px;
  margin: auto 20px;
  font-size: 18px;
}

.nav li:hover {
  color: rgb(222, 222, 222);
}
.main-text {
  width: 50%;
  position: relative;
  left: 150px;
  top: 50px;
  color: white;
  opacity: 1;
}
.main-text h1 {
  font-size: 60px;
  
}
.main-text p{
  font-size: 16px;
  color: white;

}


/* about */
.about {
  margin-top: 50px;
  height: 600px;
  margin-bottom: 50px;
}
.about h2 {
  margin-right: auto;
}
.about h3 {
  margin-right: auto;
  font-size: 25px;
}

.left-section {
  width: 50%;
  height: 500px;
  background-repeat: no-repeat;
  opacity: 0.8;
  float: left;
  position: relative;
  left: 50px;
  top: 50px;
}
.left-section img {
  width: 80%;
  height: 450px;
}
.right-section {
  width: 40%;
  float: left;
  text-align: left;
}
.right-section h3 {
  color: rgb(14, 153, 93);
}
.right-section h6 {
   text-align: center;
  }
 .right-section button{
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  top: 50px;

 }


  /* services */
  .services {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 140px;
}

.service-box {
    width: calc(25% - 20px);
    margin: 0 20px 20px 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    
}

.service-box:hover {
    background-color:#35babc /* Change to desired color */
}

.service-box h3 {
    margin-top: 0;
    font-size: 24px;
}

.service-box p {
    margin: 10px 0;
    font-size: 16px;
}

.service-box i {
    font-size: 48px;
    margin-bottom: 10px;
}

  /* offers*/
.offers {
    text-align: center;
    padding: 50px 0;
    width: 70%;
    margin: auto;
    background-color: #f9fbfa;
    margin-bottom: 100px;
}

.offers h2 {
    
   
    margin-bottom: 20px;
}

.offer-description {
    
    font-size: 18px;
    margin-bottom: 30px;
    color: #333; /* Change color as needed */
}

.view-all-btn {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.view-all-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}


  /* packages */
.packages {
  display: flex;
 margin-left: 160px;
 margin-bottom: 100px;

}

.package {
  width: calc(25.33% - 20px);
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  align-items: center;
  margin: 30px 20px;
  text-align: center;
  
}

.package img {
  width: 250px;
  height: 200px;
  transition: transform 0.3s ease;
}

.package:hover img  
{
  transform: scale(1.1);
}

.package-details {
  padding: 10px;
}

.package h3 {
  margin-top: 0;
  font-size: 18px;
}

.package p {
  margin: 10px 0;
  font-size: 12px;
}

.package button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.package button:hover {
  background-color: #45a049;
}


  /* gallery */
.gallery {
  padding: 50px;
  height: 700px;
  
}
.gallery_div1,
.gallery_div2,
.gallery_div3,
.gallery_div4 {
    float: left;
    width: 25%;
    height: 500px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;}

.gallery_div1 {
 
  background-image: url(/img/1.jpg);
  background-size: 100% 500px;
  
}
.gallery_div2 {
 
  background-image: url(/img/2.jpg);
  background-size: 100% 500px;
  
}
.gallery_div3 {
  
  background-image: url(/img//bedroom-on-a-luxury-houseboat.webp);
  background-size: 100% 500px;
  
}
.gallery_div4 {
  
    background-image: url(/img/bg.jpg);
    background-size: 100% 500px;
    
  }
.h3-gallery {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    color: white;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.gallery_div1:hover, .gallery_div2:hover, .gallery_div3:hover, .gallery_div4:hover {
    opacity: 0.5;
    transform: scale(1.01);
    
}

  /*contact*/

.contact-img{
  width: 100%;
  height: 500px;
  background-image: url(/img/bg2.jpg);
  background-size: 100% 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.contact-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/bg2.jpg);
  background-size: cover;
  filter: blur(1px); /* Apply blur effect to the background image */
  opacity: 0.2; /* Adjust opacity for desired transparency */
}

.contact-form {
  position: relative; /* Make sure the position is set */
  z-index: 1; /* Ensure the form is on top of the background */
  width: 300px;
  padding: 20px;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency here */
}
.contact-form {

  width: 300px;
  padding: 20px;
  margin-left: 100px;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  border-radius: 10px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ffffff;
  background-color: transparent;
 
}.contact-form button{
  border-radius: 12px;
  padding: 12px;
}

.contact-form button.submit-btn {
  background-color: #4CAF50;
  color: rgb(230, 238, 237);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button.submit-btn:hover {
  background-color: #45a049;
}


  /* form */
.form-para {
  width: 40%;
  color: rgba(255, 255, 255, 0.8);
  
}

.form-para h3 {
  font-size: 36px;
  margin-bottom: 10px;
  
}
.form-para p {
    margin-bottom: 20px;
    color: white;
}

.explore-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.explore-btn:hover {
    background-color: #45a049;
}
 #awesome{
 margin: 0;
 }
/* Footer styles */

footer {
  background-color: #2b2b2b;
  height: 250px;
  color: #fff;
  padding: 50px 10px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  flex: 1 1 250px;
  margin: 0 20px;
}

.footer-section h3 {
  color: #fffdf4;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section p {
  color: #ccc;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-icons .icon {
  color: white;
  font-size: 24px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons .icon:hover {
  color: #0c6264;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
  color: #ccc;
  text-align: center;
}
